{% extends 'base.twig' %}

{% block title %}

Code

{% endblock %}

{% block body %}

	<body>

{% endblock %}

{% block header %}

	<header>

{% endblock %}

{% block main %}

	<main class="code">
  	<h1>My Code</h1>
		<div>
			<a href="https://github.com/abarretti/" class="image" target="_blank"><img src="{{ url }}/imgs/gitHubMain.png"
			alt= "Github Logo"/></a>
		</div>
		<div>
			<a href="{{ url }}/coursera" class="image"><img src="{{ url }}/imgs/courseraMain.png"
			alt= "Coursera Logo"/></a>
		</div>
		<div>
			<a href="https://www.hackerrank.com/aebarretti87/" class="image" target="_blank"><img src="{{ url }}/imgs/hackerRankMain.png"
			alt= "hackerRank Logo"/></a>
		</div>
		<div>
			<a href="https://www.udemy.com/user/anthony-barretti/" class="image" target="_blank"><img src="{{ url }}/imgs/udemyU.png"
			alt= "Udemy Logo"/></a>
		</div>
		<div>
			<a href="https://exercism.io/profiles/abarretti/" class="image" target="_blank"><img src="{{ url }}/imgs/exercismMain.png"
			alt= "Exercism Logo"/></a>
		</div>
		<div>
			<a href="https://www.codecademy.com/aebarretti87/" class="image" target="_blank"><img src="{{ url }}/imgs/codeAcademyMain.jpg"
			alt= "CodeAcademy Logo"/></a>
		</div>
	</main>

{% endblock %}

{% block footer %}

	<footer>

{% endblock %}
