{% extends 'base.twig' %}

{% block title %}

Coursera

{% endblock %}

{% block body %}

	<body>

{% endblock %}

{% block header %}

	<header>

{% endblock %}

{% block main %}

	<main class="coursera">
		<div class="head">
			<h1>Specialization Certificates</h1>
		</div>
			<img src="{{ url }}/imgs/courseraWebApplications.jpg" alt= "Web Applications for Everybody"/>
			<img src="{{ url }}/imgs/courseraPythonForEverybody.jpg" alt= "Python for Everybody"/>
		<div class="head">
			<h1>Course Certificates</h1>
		</div>
		<img src="{{ url }}/imgs/courseraJSJQueryJSON.jpg" alt="JavaScript, jQuery, and JSON"/>
		<img src="{{ url }}/imgs/courseraDatabaseBuildingApplications.jpg" alt="Building Database Applications in PHP"/>
		<img src="{{ url }}/imgs/courseraWebApplicationsCourse.jpg" alt="Building Web Applications in PHP"/>
		<img src="{{ url }}/imgs/courseraIntroToSQL.jpg" alt="Introduction to Structured Query Language (SQL)"/>
		<img src="{{ url }}/imgs/courseraDataScienceToolbox.jpg" alt="The Data Scientist's Toolbox"/>
		<img src="{{ url }}/imgs/courseraInteractivityJavaScript.jpg" alt="Interactivity with JavaScript"/>
		<img src="{{ url }}/imgs/courseraPythonCapstone.jpg" alt="Capstone: Retrieving, Processing, and Visualizing Data with Python"/>
		<img src="{{ url }}/imgs/courseraCSS.jpg" alt="Introduction to CSS3"/>
		<img src="{{ url }}/imgs/courseraHTML.jpg" alt="Introduction to HTML5"/>
		<img src="{{ url }}/imgs/courseraDatabasesPython.jpg" alt="Using Databases with Python"/>
		<img src="{{ url }}/imgs/courseraPythonWebData.jpg" alt="Using Python to Access Web Data"/>
		<img src="{{ url }}/imgs/courseraDataStructures.jpg" alt="Python Data Structures"/>
		<img src="{{ url }}/imgs/courseraPythonForEverybodyCourse.jpg" alt="Python for Everybody (Getting Started with Python)"/>
		<img src="{{ url }}/imgs/couseraBusinessMetrics.jpg" alt="Business Metrics for Data-Driven Companies"/>
	</main>

{% endblock %}

{% block footer %}

	<footer>

{% endblock %}
